body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  font-family: 'Arial', 'Helvetica', Sans-serif;
  font-size: 0.82em;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  overflow: hidden;
  background: #536BD5;
}

#nav {
  position: absolute;
  top: 65px;
  left: 0;
  bottom: 0;
  width: 250px;
  overflow: auto;
  background: #ECECEC;
}

#logo {
  padding:0 10px;
  margin: 0;
}

#logo h1 {
  margin: 0 0;
  color: white;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: 0 0px;
  padding: 0.45em 0 60px 60px;
  text-shadow: 0.1em 0.1em 0.2em black;
  line-height: 1.6em;
}

h3 {
  margin: 5px 0;
}

main {
  position: fixed;
  top: 65px;
  left: 250px;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #fff;
}

.innertube {
  margin: 15px;
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: darkgreen;
  text-decoration: none;
}

table {
  font-size: 0.92em;
  width: 100%;
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 2px;
}

table.subtable {
  width: 100%;
}

table.subtable td {
  width: 40%;
}

.filename {
  padding: 10px;
  border: 1px lightgrey solid;
  border-radius: 4px;
  font-weight: bold;
  background: #ECECEC;
}

.right {
  float: right;
}

.message {
  font-size: 0.82em;
  padding: 10px 10px 8px 30px;
  border: 1px lightgrey solid;
  border-radius: 4px;
  font-weight: bold;
  background-image: url("../img/warning.png");
  background-repeat: no-repeat;
  background-position: 5px 45%;
}

.emerg, .emergency, .alert, .crit, .critical {
  background-color:  #ffdcdc;
  color: darkred;
}

.error {
  background-color:  #ffe7e7;
}

.warning, .warn {
  background-color: #fff6dc;
}

.ok {
  background-color: #eaffdf;
}

.notice, .info {
  background-color: #efefef;
  color: grey;
}

.debug, .trace1, .trace2, .trace3, .trace4, .trace5, .trace6, .trace7, .trace8 {
  background-color: #dcf4ff;
  color: grey;
}

div.emptycontent {
  background-image: url("../img/logs.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 98%;
  height: 90%;
  position: absolute;
  opacity: 0.25;
}

div.loading {
  background-image: url("../img/ajaxloader.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 99%;
  height: 90%;
  position: absolute;
  z-index: 2;
}

#btncloselog {
  cursor: pointer;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 16px;
  height: 16px;
}

div.hidden {
  display: none;
}

div.tooltip {
  display: none;
  position: absolute;
  border: 1px lightgrey solid;
  border-radius: 4px;
  z-index: 1;
  background-color: #536BD5;
  color: white;
  padding: 10px;
}

.buttons {
  margin: 5px 0;
  padding: 0 10px 0 0;
}

.button {
  cursor: pointer;
  display: inline-block;
  background-color: #536BD5;
  color: white;
  border: 1px grey solid;
  border-radius: 4px;
  padding: 6px;
  margin: 0 4px 0 0;
}

.button-reverse {
  display: none;
}
  
